<div class="mb-3 pb-3 mb-3 border-b border-gray-200">
  <h2 class="mb-1">
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h2>

  <p class="text-sm text-gray-600">
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
      {% assign d = post.date | date: "%-d" %}
      {{ post.date | date: "%B" }} 
      {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st,
      {% when '2' or '22' %}{{ d }}nd,
      {% when '3' or '23' %}{{ d }}rd,
      {% else %}{{ d }}th,
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </time>
  </p>

  <p>
    {{ post.meta.description }}
  </p>
</div>
