<div class="post-thumbnail">
  <h3 class="post-thumbnail__title">
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h3>

  <p class="post-thumbnail__datetime">
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
      {% assign d = post.date | date: "%-d" %}
      {{ post.date | date: "%B" }}
      {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st,
      {% when '2' or '22' %}{{ d }}nd,
      {% when '3' or '23' %}{{ d }}rd,
      {% else %}{{ d }}th,
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </time>
  </p>

  <p>
    {{ post.description }}
  </p>
</div>
