<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || 'Mike Rogers' %></title>
    <link rel="preload" href="<%= asset_path(:css, 'site') %>" as="style" />

    <meta name="description" content="<%= html_escape current_page.data.meta.description %>">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@MikeRogers0" />
    <meta name="twitter:creator" content="@MikeRogers0" />
    <meta name="twitter:description" content="<%= html_escape current_page.data.meta.description %>" />

    <%= stylesheet_link_tag :site %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="canonical" href="<%= current_url %>" />
    <meta name="theme-color" content="#ffffff">

    <script data-ad-client="ca-pub-2667324250042908" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <div class="position-fixed">
      <a href="#main" class="mt-2 ml-4 sr-only sr-only-focusable">Skip to main content</a>
    </div>
    <%= partial 'shared/header' %>

    <div class="container" role="main" id="main">
      <%= yield %>
    </div>

    <hr />

    <%= partial 'shared/footer' %>
  </body>
</html>
