<% wrap_layout :layout do %>
  <article>
    <header>
      <h1 class="mb-3 text-center"><%= current_article.title %></h1>

      <div class="text-muted text-center small">
        <p>Posted on <time datetime="<%= current_article.date.strftime('%Y-%m-%d') %>"><%= current_article.date.strftime('%A %b %e, %Y') %></time></p>
      </div>
    </header>

    <div class="sponsor">
      <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=288&l=ez&f=ifr&linkID=94e59a4296cea6d2192212435d379235&t=fulondes-21&tracking_id=fulondes-21" width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" importance="low" loading="lazy"></iframe>
    </div>

    <div>
      <%= yield %>
    </div>

    <footer class="text-muted text-center small mt-5 mb-3">
      <p>This was written by Mike Rogers, a freelance Ruby on Rails developer based in London. Any code samples unless stated otherwise are licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">The MIT License (MIT)</a>.</p>
      <p>Share the ♥ by <a href="https://www.buymeacoffee.com/MikeRogers0" target="_blank" rel="noopener noreferrer">buying me a coffee</a>.</p>
    </footer>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
          "@type": "BlogPosting",
          "headline": "<%= html_escape current_article.title %>",
          "datePublished": "<%= current_article.date.strftime('%Y-%m-%d') %>",
          "description": "<%= html_escape current_article.data.meta.description %>",
          "url": "<%= URI.join(root_url, current_article.url) %>",
          <% if current_article.data.meta.image.present? %>
            "image": "<%= URI.join(root_url, current_article.data.meta.image) %>",
          <% end %>
          "author": {
            "@type": "Person",
            "image": "<%= URI.join(root_url, asset_path(:images, 'mike-rogers.jpg')) %>",
            "name": "Mike Rogers",
            "sameAs": "<%= root_url %>"
          }
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://mikerogers.io/posts.html",
              "name": "Posts"
            }
          }]
      }
    </script>
  </article>
<% end %>
