<% wrap_layout :layout do %>
  <article role="article">
    <header>
      <h1 class="mb-3 text-center"><%= current_article.title %></h1>

      <section class="text-muted text-center small">
        <p>Posted on <time datetime="<%= current_article.date.strftime('%Y-%m-%d') %>"><%= current_article.date.strftime('%A %b %e, %Y') %></time></p>
      </section>
    </header>

    <section>
      <%= yield %>
    </section>

    <footer class="text-muted text-center small mt-5 mb-3" role="contentinfo">
      <p>This was written by Mike Rogers, a freelance Ruby on Rails developer based in London.</p>
      <p>Share the ♥ by sharing this!</p>

      <p>If you want to discuss this post, feel free to tweet me (<a href="https://twitter.com/MikeRogers0" rel="me noopener" target="_blank">@MikeRogers0</a>) or drop me an <a href="mailto:me+blog@mikerogers.io?subject=<%= CGI.escape current_article.title %>">email</a>. Any code samples unless stated otherwise are licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">The MIT License (MIT)</a>. Spotted a mistake? Send me a <a href="https://github.com/MikeRogers0/MikeRogersIO/blob/master/source/<%= current_article.path %>.md" target="_blank" rel="noopener">pull request</a> :)</p>
    </footer>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
          "@type": "BlogPosting",
          "headline": "<%= current_article.title %>",
          "datePublished": "<%= current_article.date.strftime('%Y-%m-%d') %>",
          "description": "<%= current_article.data.meta.description %>",
          "url": "<%= URI.join(root_url, current_article.url) %>",
          <% if current_article.data.meta.image.present? %>
            "image": "<%= URI.join(root_url, current_article.data.meta.image) %>",
          <% end %>
          "author": {
            "@type": "Person",
            "image": "<%= URI.join(root_url, asset_path(:images, 'mike-rogers.jpg')) %>",
            "name": "Mike Rogers",
            "sameAs": "<%= root_url %>"
          }
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://mikerogers.io/posts.html",
              "name": "Posts"
            }
          }]
      }
    </script>
  </article>
<% end %>
