<% wrap_layout :layout do %>
  <article>
    <h1 class="mb-4 text-center"><%= current_article.title %></h3>

    <aside class="text-muted text-center small">
      <p>Posted on <time datetime="<%= current_article.date.strftime('%Y-%m-%d') %>"><%= current_article.date.strftime('%A %b %e, %Y') %></time></p>
    </aside>

    <%= yield %>

  </article>
  <aside class="text-muted small">
    <p>Share the ♥ by sharing this!</p>

    <p>If you want to discuss this post, feel free to tweet me (<a href="https://twitter.com/MikeRogers0" rel="me" target="_blank">@MikeRogers0</a>) or drop me an <a href="mailto:me+blog@mikerogers.io?subject=<%= CGI.escape current_article.title %>">email</a>. Any code samples unless stated otherwise are licensed under the <a href="http://opensource.org/licenses/MIT" target="_blank">The MIT License (MIT)</a>. Spotted a mistake? Send me a <a href="https://github.com/MikeRogers0/MikeRogersIO/blob/master/source/<%= current_article.path %>.md" target="_blank">pull request</a> :)</p>
  </aside>
<% end %>
