---
title: Mike Rogers - Web Developer from Berkshire
meta:
  description: A Ruby on Rails developer from the UK's personal website. Showcases an overview of his skills and how to get in touch.
  index: true
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Berkshire, UK"
  },
  "email": "mailto:me@mikerogers.io",
    "image": "<%= root_url %><%= asset_path(:images, 'mike-rogers.jpg') %>",
  "jobTitle": "Ruby on Rails Developer",
  "name": "Mike Rogers",
  "url": "https://mikerogers.io",
  "sameAs" : [
    "https://twitter.com/MikeRogers0",
    "https://github.com/mikerogers0",
    "https://teamtreehouse.com/rmikerogers0",
    "https://www.reddit.com/user/Rogem002",
    "http://instagram.com/mikerogers0",
    "https://stackoverflow.com/users/445724/mikerogers0"
  ]
}
</script>

<div class="hello-im-mike mb-5">
  <p class="lead text-center">Hello! I'm a web developer from Berkshire UK.<br>I've specialised in making performant Ruby on Rails applications since 2012.</p>
  <div class="text-center mt-4">
    <a href="mailto:me+site@mikerogers.io?subject=Work%20with%20You" class="btn btn-primary">Contact Me via Email</a>
  </div>
</div>

<div class="projects mb-5">
  <h2 class="text-center mb-4">Projects I've delivered</h2>

  <div class="row">

    <% data.projects.select { |p| p.featured }.each do |project| %>
      <div class="col-12 col-md-4">
        <h3 class="sr-only"><%= project.name %></h3>
        <figure class="figure text-center mb-4">
          <%= link_to image_tag(project.image_path, class: 'figure-img portfolio-list__image img-fluid rounded img-thumbnail shadow', alt: "Visit #{project.name}"), project.url, target: '_blank', 'rel': 'noopener' %>
          <figcaption class="figure-caption"><%= project.description %></figcaption>
        </figure>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-3">
    <%= link_to 'See More Projects', 'portfolio.html', class: 'btn btn-primary' %>
  </div>
</div>

<div class="blog-posts mb-5">
  <h2 class="text-center mb-4">Things I've written</h2>

  <% blog.articles[0..5].each do |article| %>
    <h3><%= link_to article.title, article %></h3>
    <p><%= article.data.meta.description %></p>

    <div class="text-muted small">
      <p>Posted on <time datetime="<%= article.date.strftime('%Y-%m-%d') %>"><%= article.date.strftime('%A %b %e, %Y') %></time></p>
    </div>
  <% end %>

  <div class="text-center mt-3">
    <%= link_to 'See All Posts', 'posts.html', class: 'btn btn-primary' %>
  </div>
</div>
