---
title: Portfolio
meta:
  description: ''
  index: true
---
<div class="text-center mb-4">
  <p>Here are some of the projects I've worked on recently.</p>
</div>

<% data.projects.sort_by { |p| -(Date.parse(p.launched_on).to_time.to_i) }.each do |project| %>
  <div class="p-3 mb-4">
    <div class="row">
      <div class="col-12 col-md-4 d-flex">
        <figure class="figure text-center mb-0 mt-1">
          <%= link_to image_tag(project.image_path, class: 'figure-img img-fluid rounded img-thumbnail', alt: "Visit #{project.name}"), project.url, target: '_blank' %>
        </figure>
      </div>
      <div class="col-12 col-md-8">
        <h2 class="h5"><%= project.name %></h2>
        <p><%= project.description %></p>

        <dl class="row small">
          <dt class="col-sm-3">Launched</dt>
          <dd class="col-sm-9"><%= Date.parse(project.launched_on).strftime('%b %e, %Y') %></dd>
          <% project.stats.each do |key, value| %>
            <dt class="col-sm-3"><%= key %></dt>
            <dd class="col-sm-9"><%= value %></dd>
          <% end %>
        </dl>

        <div role="group">
          <%= link_to 'View Project', project.url, target: '_blank', class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to 'View Source Code', project.source_url, target: '_blank', class: 'btn btn-sm btn-outline-secondary' if project.source_url.present? %>
        </div>
      </div>
    </div>
  </div>

  <hr />
<% end %>
