---
title: Blog Posts
meta:
  description: All the blog posts written by Mike Rogers
  index: true
---
<div class="text-center mb-4">
  <p>This is the archive of all the blog posts I've written over the past few years.</p>
</div>

<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
  <h2><%= year %></h2>

  <% articles.each do |article| %>
    <article>
      <h3><%= link_to article.title, article %></h3>
      <p><%= article.data.meta.description %></p>
      <div class="text-muted small">
        <p>Posted on <time datetime="<%= article.date.strftime('%Y-%m-%d') %>"><%= article.date.strftime('%A %b %e, %Y') %></time></p>
      </div>
    </article>
  <% end %>
<% end %>
