---
title: Blog Posts
---
<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
  <h1><%= year %></h1>

  <% articles.each do |article| %>
    <article>
      <h2><%= link_to article.title, article %></h2>
      <p><%= article.data.meta.description %></p>
      <div class="text-muted">
        <p>Posted on <time datetime="<%= article.date.strftime('%Y-%m-%d') %>"><%= article.date.strftime('%A %b %e, %Y') %></time></p>
      </div>
    </article>
  <% end %>
<% end %>
